
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

body {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: url(/images/background1.jpg);
font-family: sans-serif;
}

.box{
width: 320px;
height: 420px;
border-radius: 1px;
background: #13294b;
color: #fff;
top: 50%;
left: 50%;
position: absolute;
transform: translate(-50%, -50%);
opacity:  0.9;
transition: opacity 3s, border 2s;
padding: 70px   30px;
}

.box:hover{
opacity: 1;
border: 9px solid #36454f;
}

h1{
margin: 0;
padding: 0 0 20px;
text-align: center;
font-size: 22px;
font-family: 'Roboto Mono', monospace;  
}

.box span{
    position: absolute;
    left: 10;
    padding: 20px 0px 10px;
    color: #8f8f8f;
    pointer-events: none;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.box input{
width: 100%;
position: relative;
padding: 40px 10px;
background: transparent;
outline: none;
border: none;
box-shadow: none;
color: #fff;
font-size: 1em;
letter-spacing: 0.05em;
transition: 0.5s;
z-index: 10;
margin-bottom: 40px;
height: 40px;
}

.box button
{
border: none;
outline: none;
background: #ff4500;
color: #fff;
font-size: 18px;
border-radius: 20px;
width: 320px;
font-family: 'Roboto Mono', monospace;
}

.box button:hover
{
cursor: pointer;
background: #ff5349;
color: #000;
}
